<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HospitalManagment</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HospitalManagment.styles.css" asp-append-version="true" />
</head>
<body>
    <header data-bs-theme="dark" style="background-color:#222831">
        <nav class="navbar navbar-expand-md navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@_localization.Getkey("Welcome")</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">Admin Panel</a>
                                </li>
                            }
                        }
                    </ul>
                    <ul class="d-flex navbar-nav">
                        @if(User.Identity.IsAuthenticated){
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Profile">@User.FindFirst("Name").Value</a>
                            </li>
                            <li class="nav-item mx-1">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item mx-1">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                        </li>
                        }
                        <li>
                            <div class="dropdown">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                                    Languages
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="en-US"
                                            class="dropdown-item">
                                            <i class="flag-icon flag-icon-gb"></i> English
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="tr-TR"
                                           class="dropdown-item">
                                            <i class="flag-icon flag-icon-gb"></i> Türkçe
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3">
            @RenderBody()
     </main>


    <footer class="footer text-muted" style="background-color:#222831">
        <div class="container text-white">
            &copy; 2023 - HospitalManagment - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
