@model loginViewModel
@{
    ViewData["title"] = "Login";
}
<body class="bg-dark">
<main class="form-signin w-25 m-auto mt-5">
    <form method="post">
        <h1 class="h3 mb-3 fw-normal mt-5 text-white">Please login</h1>
        <div asp-validation-summary="ModelOnly" class="text-danger small"></div>
        <div class="form-floating mb-4">
            <input required class="form-control" id="floatingInput" placeholder="Name" asp-for="username">
            <label for="floatingInput" class="form-label" asp-for="username">Username</label>
            <span asp-validation-for="username" class="text-danger small"></span>
        </div>
        <div class="form-floating mb-3">
            <input required type="password" class="form-control" id="floatingPassword" placeholder="Password" asp-for="Password">
            <label for="floatingPassword" asp-for="Password">Password</label>
            <span asp-validation-for="Password" class="text-danger small"></span>
        </div>

        <button class="btn btn-primary w-100 py-2" type="submit">Login</button>
        <p class="mt-5 mb-3 text-body-secondary text-white">&copy; 2017–2023</p>
    </form>
    </main>
</body>