@{
    ViewData["Title"] = "AccesDenied";
}

<main class="bg-white">
    <h1 class="text-center align-content-center display-2">Access Denied</h1><hr />
    <p class="text-center align-content-center display-6">You cant enter this page :)</p>
</main>